@use "static/sass/theme";

.Header {
	display: flex;
	flex-flow: row nowrap;
	// border: 1px solid black;
	padding: theme.$app-header-padding;
	background: theme.$app-header-color;
	box-shadow: theme.$app-header-box-shadow;

	&__appTitle {
		flex: 0 0 auto;
		font-weight: theme.$font-weight-bold;
		text-decoration: none;
		color: theme.$app-title-color;

		& a {
			text-decoration: none;
			color: theme.$app-title-color;
		}
	}

	&__navButtons {
		flex: 0 0 auto;
		margin-left: auto;
	}

	&__navButtonUnit {
		margin-left: theme.$margin-unit;
	}
}
