@use "static/sass/theme";

.pizzaListItem {
	text-align: left;
	list-style-type: none;
	padding: 1em;
	border-radius: 8px;
	border-color: theme.$box-shadow-color;
	box-shadow: 0 2px 5px theme.$box-shadow-color;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: flex-start;

	&:hover {
		box-shadow: 0 2px 5px theme.$box-shadow-color-hover;
	}

	& * {
		flex: 0 0 auto;
	}

	.sideImage {
		flex: 0 0 auto;
		height: 100px;
		width: 100px;
		margin-right: 1em;
		overflow: hidden;

		img {
			width: 100%;
			// height: 100%;
			border-radius: 8px;
		}
	}

	.content {
		flex: 0 0 auto;
		width: 70%;

		h2 {
			margin: 0 0 0.5em 0;
			color: #333;
			font-size: 1.5em;
		}

		p {
			margin: 0.5em 0;
			color: #666;

			&:last-child {
				color: #f30;
				font-weight: bold;
			}
		}
	}
}
