@use "static/sass/theme";

// src/components/ProductList.scss
.data-list {
	// padding: calc(3 * theme.$app-box-padding);

	.filters {
		margin-bottom: calc(2 * theme.$app-box-margin);
		display: flex;
		align-items: center;
		gap: 10px;

		input {
			padding: 10px;
			width: 100%;
			border: 1px solid #e0e0e0;
			border-radius: 5px;
			font-size: 1rem;
		}

		select {
			padding: 10px;
			font-size: 1rem;
			border: 1px solid #e0e0e0;
			border-radius: 5px;
		}
	}

	table {
		width: 100%;
		border-collapse: collapse;

		th,
		td {
			padding: 10px;
			border: 1px solid #e0e0e0;
			text-align: left;
		}

		th {
			background-color: #f7f7f7;
			cursor: pointer;
			transition: background-color 0.2s ease;

			&:hover {
				background-color: #e5e5e5;
			}
		}
	}
}
